<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Always"
        tools:targetApi="31">
        <activity
            android:name=".Activities.Account.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Friends.FriendsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Main.ProfileSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Main.NewReminderActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Main.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Main.RandomActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Main.RemindersActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Friends.MemoraesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Account.ResetPassword"
            android:exported="false" />
        <activity
            android:name=".Activities.Account.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.Main.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.Friends.MemoraeProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Main.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.always.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>